# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.prg

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Android
.gradle/
local.properties
.cxx/
build/
*.apk
*.aar
*.jks
*.keystore

# Android Studio
.idea/
*.iml
*.iws
.navigation/
captures/
.externalNativeBuild/
cmake_install.cmake
CMakeCache.txt
CMakeFiles/
ninja_log/
.ninja_deps
.ninja_log